cloudretrieval/src/resources/wsdl/NodeEndpointService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NodeEndpointService" targetNamespace="http://www.medianate.com/api/nodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.medianate.com/api/nodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.medianate.com/api/nodes" elementFormDefault="unqualified" targetNamespace="http://www.medianate.com/api/nodes" version="1.0">
<xs:element name="findAllNodes" type="tns:findAllNodes"/>
<xs:element name="findAllNodesResponse" type="tns:findAllNodesResponse"/>
<xs:element name="nodeDetail" type="tns:nodeDetail"/>
<xs:complexType name="findAllNodes">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="findAllNodesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:nodeDetail"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="nodeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="hostname" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="ip" type="xs:string"/>
      <xs:element minOccurs="0" name="lastUpdateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="localName" type="xs:string"/>
      <xs:element name="maxConcurrentAsyncElemjobs" type="xs:int"/>
      <xs:element name="maxConcurrentTasks" type="xs:int"/>
      <xs:element name="nbCores" type="xs:int"/>
      <xs:element minOccurs="0" name="softwareVersions" type="xs:string"/>
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="state" type="xs:string"/>
      <xs:element minOccurs="0" name="sysInfo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findAllNodes">
    <wsdl:part name="parameters" element="tns:findAllNodes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllNodesResponse">
    <wsdl:part name="parameters" element="tns:findAllNodesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NodeEndpoint">
    <wsdl:operation name="findAllNodes">
      <wsdl:input name="findAllNodes" message="tns:findAllNodes">
    </wsdl:input>
      <wsdl:output name="findAllNodesResponse" message="tns:findAllNodesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NodeEndpointServiceSoapBinding" type="tns:NodeEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findAllNodes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllNodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllNodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NodeEndpointService">
    <wsdl:port name="NodeEndpointImplPort" binding="tns:NodeEndpointServiceSoapBinding">
      <soap:address location="to_be_overridden_Add_?wsdl_to_the_endpoint_url_to_get_a_WSDL_with_actual_endpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
